/*!***********************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/block/forms/forms-form/forms-form.scss ***!
  \***********************************************************************************************************************************************************************************************************/
.b-forms-form {
  font-family: OpenSans-Regular;
}
.b-forms-form__form-container {
  display: grid;
  row-gap: 12px;
}
.b-forms-form__error-container {
  color: red;
}
/*!*************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/block/forms/forms-input/forms-input.scss ***!
  \*************************************************************************************************************************************************************************************************************/
p {
  margin: 0;
}

.b-forms-input {
  display: grid;
  row-gap: 5px;
}
.b-forms-input__info {
  display: flex;
  align-items: center;
}
.b-forms-input__info__mf-req {
  color: red;
}
.b-forms-input__text-input {
  border-radius: 8px;
}
.b-forms-input__text-input:focus {
  outline: none;
}
/*!***************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/block/forms/forms-select/forms-select.scss ***!
  \***************************************************************************************************************************************************************************************************************/

/*!*****************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/block/forms/forms-submit-button/forms-submit-button.scss ***!
  \*****************************************************************************************************************************************************************************************************************************/
.b-forms-submit-button__submit-button {
  background-color: #fff;
  color: #000;
  border-radius: 8px;
}
.b-forms-submit-button__submit-button:hover {
  cursor: pointer;
}
/*!*******************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/block/forms/forms-textarea/forms-textarea.scss ***!
  \*******************************************************************************************************************************************************************************************************************/
.b-forms-textarea {
  display: grid;
  row-gap: 5px;
}
.b-forms-textarea__info {
  display: flex;
  align-items: center;
}
.b-forms-textarea__mf-req {
  color: red;
}
.b-forms-textarea__input-message {
  border-radius: 8px;
}

/*# sourceMappingURL=forms.1758888346563.css.map*/