#bx_incl_area_2 {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
}

#bx_incl_area_2_1 {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
}

div.mfeedback {
    grid-column: 2/-2;
}

div.mf-name,
div.mf-email,
div.mf-captcha,
div.mf-message {
    width: 80%;
    padding-bottom: 0.4em;
}

.mf-text {
    display: flex;
    align-items: center;
}

div.mf-name input,
div.mf-email input {
    width: 60%;
}

div.mf-message textarea {
    width: 60%;
}

span.mf-req {
    color: red;
}

div.mf-ok-text {
    color: green;
    font-weight: bold;
    padding-bottom: 1em;
}

.header-feedback {
    grid-column: 2/-2;
    font-size: 24px;
}