@use "style" as *;

$block-name: "b-menu";

.#{$block-name} {
	//
	&__li-item {
		width: 100px;
	}

	&__root-item {
		color: #000;
		font-weight: bold;
		padding: 7px 12px;
		background: none;
	}

	&__root-item-selected {
		color: #000;
		font-weight: bold;
		padding: 7px 12px;
		background: none;
		box-shadow: 0 2px 8px rgb(0 0 0 / 30%);
		border-radius: 4px;
	}

	&__item-selected {
		background: none;
		color: #000;
		box-shadow: 0 2px 8px rgb(0 0 0 / 30%);
		border-radius: 4px;
	}

	&__root-item:hover {
		background: none;
		color: #000;
		box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
		border-radius: 4px;
	}

	&__item-selected:hover {
		color: #000;
		background: none;
		box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
		border-radius: 4px;
	}
}
